
body{
margin:0;
font-family:Arial;
background:#f4f1ea;
text-align:center;
}

canvas{
display:block;
margin:20px auto;
background:#faf7f0;
border:3px solid black;
touch-action:none;
}

#menu, #gameOver{
margin-top:40px;
}

.hidden{
display:none;
}
